<%- include("../views/partials/header.ejs") %>

<main>
  <div class="inputContainer">
      <div>
        <h1>To-Do List</h1>
      </div>
  
    <div>
      <form action="/" method="POST">
      <div class="input">
        <input type="text" name="task" id="input-txt" placeholder="Write your task here">
        <button id="btnAdd" type="submit">Add</button> 
      </div>
      </form>
    </div>

  </div>

  <div class="taskPreview">
    <% if(locals.tasks) { %> 
      <div class="list">
        <ul>
          <% for(let i=0;i<tasks.length;i++) { %>
            <li>
              <input type="checkbox" class="task-checkbox" data-id="<%= i %>">
              <div class="taskText"><%= tasks[i].text %></div> 
              
              <form action="/delete" method="POST">
                  <input type="hidden" name="index" value="<%= i %>">
                  <span class="deleteBtn" onclick="this.parentElement.submit();">X</span> 
                </form>
            </li>
        <% } %>
        </ul>
      </div>
    <% }else { %> 
      <li>No tasks to show.</li>
    <% } %>
  </div>


<%- include("../views/partials/footer.ejs") %>
